@import "../../styles/fonts.css";

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
  margin-top: -5%;
}

.image {
  width: 100%;
}

/* Bottom left text */
.bottomLeft {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.topLeft {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.topRight {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottomRight {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.textBox {
  margin-top: -1%;
  padding: 0 25%;
  background-color: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.headerText {
  font-family: "Northead";
  color: #f9c2d5;
  font-size: 80px; 
  line-height: 70px;
}
.mainText {
  font: "roboto";
  font-weight: 600;
  color: white;
  font-size: 18px;
}
